INFERENCE_URL=http://localhost:8000/v1
MAX_TOKENS=50
MODEL="google/gemma-3-270m-it"
MOCK_INFERENCE=true
HOST_GATEWAY_URL=http://localhost:8010
NETWORK_TAP_URL=http://localhost:8020
HOST_CLUSTER_URL=http://localhost:8030
RECOMPUTATION_CLUSTER_URL=http://localhost:8040